.linea {
    display: block;
    height: 1px;
    width: 0;
    background-color: rgb(227, 214, 214);
    transition: width 0.3s ease-in-out;
    padding-left: 50px;
  }
  .header-list li:hover .linea {
    width: 70%;
  }
  .header-list li .linea {
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .header-list li:hover .linea {
    transform: scaleX(1);
  }
  .titulo-pagina {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center ;
  }
  .header-list {
    text-align: center;
    align-items: baseline;
    font-family: fantasy;   
  }
  
  
  header {
      background-color: #333;
      color: #fff;
      justify-content: center;
      align-items: center;
    }
    
    nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
     
    }
    
    nav ul li {
      margin: 0px;
    }
    
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 2rem;
      padding: 0.3rem;
      flex-direction: column;
      align-items: center;
      top: -55px;
      text-align: center;
      justify-content: center;
    }
    .header-list img {
      width: 60px;
      height: 60px;
      border-radius: 50px;
    }
    .logo {
      animation-name: spin;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgb(166, 166, 127);
    }
    .contenedor-imagen {
      position: relative;
    }
    
    .cuadro1 {
      position: absolute; 
      top: 0%; 
      left: 36%; 
      width: 35%; 
      height: 35%; 
      border: none;
      transition: transform 0.3 ease-out; 
      overflow: hidden;
      border: 1px solid rgb(8, 8, 8);
    }
    .cuadro1:hover{
      transform: translate(5px, -5px);
      opacity: 0.5;
    }
    
    
    .cuadro2 {
      position: absolute; 
      top: 36%; 
      left: 65%; 
      width: 35%; 
      height: 35%; 
      border: none;
      transition: transform 0.3 ease-out;
      border: 1px solid rgb(8, 8, 8); 
    }
    .cuadro2:hover{
      transform: translate(5px, -5px);
    }
    
    .cuadro3 {
      position: absolute; 
      top: 36%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid black; 
      transition: transform 0.3 ease-out; 
      border: 1px solid rgb(8, 8, 8);
    }
    .cuadro3:hover{
      transform: translate(5px, -5px);
    }
    .cuadro4 {
      position: absolute; 
      top: 37%; 
      left: 70%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid rgb(8, 8, 8); 
      transition: transform 0.3 ease-out;
    }
    .cuadro4:hover{
      transform: translate(5px, -5px);
    }
    .cuadro5 {
      position: absolute; 
      top: 0%; 
      left: 35%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid rgb(13, 12, 12); 
      transition: transform 0.3 ease-out;
    }
    .cuadro5:hover{
      transform: translate(5px, -5px);
    }
    .cuadro6 {
      position: absolute; 
      top: 37%; 
      left: 0%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid black;
      transition: transform 0.3 ease-out; 
    }
    .cuadro6:hover{
      transform: translate(5px, -5px);
    }
    .cuadro7 {
      position: absolute; 
      top: 37%; 
      left: 0%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid black; 
      transition: transform 0.3 ease-out; 
    }
    .cuadro7:hover{
      transform: translate(5px, -5px);
    }
    .cuadro8 {
      position: absolute; 
      top: 37%; 
      left: 70%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid black; 
      transition: transform 0.3 ease-out;
    }
    .cuadro8:hover{
      transform: translate(5px, -5px);
    }
 
    .cuadro9 {
      position: absolute; 
      top: 0%; 
      left: 35%; 
      width: 35%; 
      height: 35%; 
      border: 1px solid black;
      *transition: transform 0.3 ease-out;
    }
    .cuadro9:hover{
      transform: translate(5px, -5px);
    }
    @keyframes mover {
      from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(50px, 50px);
      }
    }

    
   

















    footer {
      position: absolute;
      width: 1230px;
      height: 200px;
      left: 10px;
      top: 670px;
      padding: 20px;
      background: linear-gradient(to bottom, #f5f5f5, #b9ad88);
}
    
    
    .derecha h3 {
      position: absolute;
      width: 454px;
      height: 421px;
      left: 900px;
      top: 10px;
    }
    
    .derecha p {
      position: absolute;
      width: 100px;
      height: 401px;
      left: 900px;
      top: 50px;
    }
    
    .email-box {
      position: absolute;
      width: 300px;
      height: 441px;
      left: 900px;
      top: 130px;
    }
    
    .email-box input {
      width: 70%;
      border-bottom: dimgray;
      outline: auto;
    }
    
    .boton-redondo {
      background-color: #333;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 10px;
      position: absolute;
      width: 200px;
      height: 50px;
      left: 900px;
      top: 160px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .boton-redondo:hover {
      background-color: #555856;
    }
    
    .redes-sociales {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -60px;
      margin-left: -80px;
    }
    
    .redes-sociales a {
      display: flex;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 0 30px;
      background-color: #fff;
      color: #333;
      transition: all 0.3s ease-in-out;
      justify-content: center;
      align-items: center;
    }
    
    .redes-sociales a:hover {
      background-color: #333;
      color: #fff;
    
    }
      .cuadro1 {
        transition: transform 0.2s ease-in-out;
      }
      
      .cuadro1:hover {
        transform: translateY(-10px);
      }
      
      @media (max-width: 768px) {
        footer {
          margin-top: -30px;
          }
      }