header {
  background-color: #333;
  color: #fff;
  padding: 0.3rem;

}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
 
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
  top: -45px;
}
.header-list img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.header-list {
  text-align: center;
  align-items: baseline;
 font-family: fantasy;  
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-top: -20px;
}
.secciones2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  margin-bottom: -20px;
}

.boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 24px;
  padding: 12px 24px;
  background: linear-gradient(to bottom, #eee, #ccc);
  border: none;
  color: #fff;
  border-radius: 50px;
  
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  margin-bottom: -20px;
  animation: fade-in-out 3s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.secciones2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

button {
  font-size: 24px;
  padding: 12px 24px;
  background: linear-gradient(to bottom, #eee, #ccc);
  border: none;
  color: #fff;
}

button:hover {
  color: #fff;
  background: linear-gradient(to bottom, #ccc, #999);
}

button:hover a {
  color: #444;
}
















